<form
    [formGroup]="registerForm"
    (ngSubmit)="onSubmit()"
>

    <k-input-t-input
        [type]="'text'"
        [parentForm]="registerForm"
        [id]="'test'"
        [label]="'First Name'"
        [placeHolder]="'Enter First Name'"
        [formCtrlName]="'firstName'"
        [displayType]="'block'"
        [disabled]=isDisabled
    ></k-input-t-input>

    <k-input-t-input
        [type]="'text'"
        [parentForm]="registerForm"
        [id]="'test1'"
        [label]="'First Name'"
        [placeHolder]="'Enter Last Name'"
        [formCtrlName]="'lastName'"
        [displayType]="'block'"
    ></k-input-t-input>

    <button type="submit">Save</button>

</form>

<button (click)="test()">toggle</button>
